/** Coding Section **/
  .codingsection {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }

pre {
  overflow: auto !important;
  word-wrap: normal !important;
  white-space: pre !important;
}
