::selection {
  background: #ffe987 !important;
  color: rgb(33, 37, 41) !important;
}

::-moz-selection {
  background: #ffe987 !important; /* Firefox */
  color: rgb(33, 37, 41) !important;
}

/** Coding Section **/
  .codingsection {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }

pre {
  word-wrap: normal !important;
  white-space: pre-wrap !important;
  max-height: none !important; 
}
